<!DOCTYPE html>
<html lang="{{ site.lang | default: ' en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/uno.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/classes.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet"> -->
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
  <link rel="icon" href="{{ '/favicon.svg' | relative_url }}" type="image/svg+xml">
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
  <script defer src="{{ '/assets/js/copy.js' | relative_url }}"></script>
  <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.js"></script>
  {% seo %}
</head>

<body>
  <div
    class="font-sans bg-white text-gray-900 min-h-screen bg-gradient-to-br from-white to-gray-300 truncate pb-8 whitespace-normal">
    <div class="w-full backdrop-filter backdrop-blur-md fixed z-20 top-0 py-4">
      <div class="max-w-screen-lg mx-auto text-2xl font-bold px-3"><a
          class="text-sky-600 hover:text-sky-400 no-underline" href="{{ '/' | relative_url }}">CPINFO-22</a>
      </div>
    </div>
    <div class="max-w-screen-lg mx-auto pt-16 break-words px-3 markdown">{{ content }}</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js"
    integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
  <script>
    anchors.add();
  </script>
</body>

</html>